#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.logo {
    margin-left: auto;
}

nav ul{
    display: flex;
    justify-content: center;
    clear: both;
}

.introtext{
    margin-left: 0%;
    padding: 30px;
}
.renta{
    
}